// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html


&uart1 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-1 = <&uart1_sleep>;
	pinctrl-names = "default", "sleep";
};

/ {
	aliases {
		displayuart = &uart1;
	};
};
///delete-node/ &{/pin-controller/uart1_sleep/group1/};

&button0 {
	gpios = <&gpio1 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
};

&button1 {
	gpios = <&gpio1 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
};

&button2 {
	gpios = <&gpio1 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
};

&button3 {
	gpios = <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
};

&nrf_radio_fem {
	compatible  = "nordic,nrf21540-fem";
	spi-if = <&nrf_radio_fem_spi>;
	
	tx-en-settle-time-us = <1>;
	rx-en-settle-time-us = <1>;
	pdn-settle-time-us = <1>;
	trx-hold-time-us = <1>;

	tx-en-gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
	rx-en-gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
	pdn-gpios   = <&gpio0 23 GPIO_ACTIVE_HIGH>;
	ant-sel-gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
	mode-gpios   = <&gpio0 17 GPIO_ACTIVE_HIGH>;
};
